# Binary files
llm-monitor-*
*.exe
*.exe~
*.dll
*.so
*.dylib
bin

# Test files
_coverage.out
*.cover

# NPM files
web/node_modules
web/dist

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Temporary files
*~
*.tmp
*.temp